
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        课程号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_code" class="layui-input" disabled="" value="{$course.course_code}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        课程名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_name" class="layui-input" disabled="" value="{$course.course_name}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        原授课教师
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_credit" class="layui-input" disabled="" value="{$old_user_name}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        新教师账号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="new_user_name" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        新教师姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="new_user_real_name" class="layui-input" placeholder="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_sign" class="layui-form-label">
                    </label>
                    <button class="layui-btn" key="set-mine" lay-filter="save" type="submit" name="submit">
                        确认
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->

