<!doctype html>
<html lang="en">
{include file="public/head" /}
<body>
<!-- 顶部开始 -->
{include file="public/top" /}
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="./index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" current>
                    <a href="./showAllCourse.html">
                        <i class="iconfont">&#xe761;</i>
                        选课
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" current>
                    <a href="./showElectiveResult.html">
                        <i class="iconfont">&#xe761;</i>
                        查看选课结果
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" current>
                    <a href="{:url('@student/login/logout')}">
                        <i class="iconfont">&#xe761;</i>
                        退出系统
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            {__CONTENT__}
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
{include file="public/footer" /}
<!-- 底部结束 -->
</body>
{include file="public/script" /}
</html>