            <form class="layui-form xbs" action="" >
                <div class="layui-form-pane" style="text-align: center;">
                  <div class="layui-form-item" style="display: inline-block;">
                    <button type="button" class="layui-btn" onclick="submitTime(); return false;" lay-filter="submit2">
                    <i class="layui-icon">&#xe616;</i>确认
                    </button>
                    <label class="layui-form-label xbs768">选课时间</label>
                    <div class="layui-input-inline xbs768">
                      <input class="layui-input" required="" autocomplete="off" placeholder="开始时间" id="LAY_demorange_s">
                    </div>
                    <div class="layui-input-inline xbs768">
                      <input class="layui-input" required="" autocomplete="off" placeholder="结束时间" id="LAY_demorange_e">
                    </div>
                  </div>
                </div> 
            </form>