            <blockquote class="layui-elem-quote">
                <strong>{$real_name}</strong>&nbsp;&nbsp;新开设课程 
            </blockquote>
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>课程号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_code" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>课程名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_name" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>课程学分
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_credit" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>课程学时
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_hour" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>限选人数
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_capacity" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>上课时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_time" required="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>上课地点
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="course_room" required="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        <span class="x-red">*</span>课程描述
                    </label>
                    <div class="layui-input-block">
                        <textarea name="course_info" placeholder="请输入内容" required="" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_sign" class="layui-form-label">
                    </label>
                    <button class="layui-btn" key="set-mine" lay-filter="save" type="submit" name="submit">
                        确认
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->

