            <!-- 右侧内容框架，更改从这里开始 -->
            <xblock>
                <button class="layui-btn" onclick="search()" lay-filter="sreach">
                    <i class="layui-icon">&#xe615;</i>查找学生
                </button>
                <div class="layui-input-inline">
                    <input type="text" name="username"  placeholder="请输入学生账号或姓名" autocomplete="off" class="layui-input" id="search_text">
                </div>
                <span class="x-right" style="line-height:40px">共有数据：<strong id="data_num">{$data_num}</strong>&nbsp;&nbsp;条&nbsp;&nbsp;</span>
            </xblock>
            <table class="layui-table" id="tablelist">
                <thead align="center">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            学号
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            性别
                        </th>
                        <th>
                            年级
                        </th>
                        <th>
                            电子邮箱
                        </th>
                        <th>
                            学生状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody align="center">
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.user_id}</td>
                        <td>{$vo.user_name}</td>
                        <td>{$vo.real_name}</td>
                        <td>{$vo.gender==1 ? '男' : '女'}</td>
                        <td>{$vo.grade}</td>
                        <td>{$vo.email}</td>
                        {if ($vo.status==1)}
                        <td class="td-status">
                            <span class="layui-btn layui-btn-normal layui-btn-mini">
                                已激活
                            </span>
                        </td>
                        {else /}
                        <td class="td-status">
                            <span class="layui-btn layui-btn-disabled layui-btn-mini">
                                已冻结
                            </span>
                        </td>
                        {/if}
                        <td class="td-manage">
                            <a href="javascript:;" onclick="member_edit('查看已选课程','./showStudentCourse?user_id={$vo.user_id}&real_name={$vo.real_name}','1200','625')">
                                <span class="layui-btn layui-btn-normal layui-btn-small layui-btn-radius">查看已选课程</span>
                            </a>
                            <a href="javascript:;" onclick="member_add('手动分配课程','./addStudentCourse?user_id={$vo.user_id}&real_name={$vo.real_name}','1200','625')">
                                <span class="layui-btn layui-btn-normal layui-btn-small layui-btn-radius">手动分配课程</span>
                            </a>
                        </td>
                    </tr>
                    {/volist} 
                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
