
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                欢迎使用选课系统！
            </blockquote>
            <blockquote class="layui-elem-quote">
                本系统基于ThinkPHP5.0 和 X-admin1.1实现，当前版本号为V1.0，您可通过左侧功能列表进行相关操作，更多功能正在开发中，感谢支持！
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">欢迎您登录</a></legend>
            </fieldset>
            
            <!-- 右侧内容框架，更改从这里结束 -->