
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        教务账号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="user_name" disabled="" value="{$user.user_name}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_real_name" class="layui-form-label">
                        真实姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_real_name" name="real_name" autocomplete="off" value={$user.real_name} class="layui-input">
                    </div>
                    <label for="L_real_name" class="layui-form-label">
                        性别
                    </label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="radio" name="gender" value=1 title="男" {$user.gender==1 ? "checked" : ""}>
                            <input type="radio" name="gender" value=2 title="女" {$user.gender==2 ? "checked" : ""}>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        电子邮箱
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_email" name="email" autocomplete="off" value={$user.email}
                        class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_mobile_number" class="layui-form-label">
                        手机号码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_mobile_number" name="mobile_number" autocomplete="off" value={$user.mobile_number}
                        class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_sign" class="layui-form-label">
                    </label>
                    <button class="layui-btn" key="set-mine" lay-filter="save" type="submit" name="submit">
                        确认修改
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->

