<!doctype html>
<html lang="en">
{include file="public/head" /}
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="javascript:;" onsubmit="submitChangePassword(); return false;" name="form">
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        教务账号
                    </label>
                    <div class="layui-input-inline">
                        <input disabled="" lay-verify="required" class="layui-input" value="{$user_name}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_user_name" class="layui-form-label">
                        教务姓名
                    </label>
                    <div class="layui-input-inline">
                        <input disabled="" lay-verify="required" class="layui-input" value="{$real_name}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>新密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="new_password" name="new_password" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                        <span class="x-red">*</span>确认密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="renew_password" name="renew_password" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" name="submit">
                        确认
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
</body>
</html>