<script>
        function search(){
            var storeId = document.getElementById('tablelist');
            var textId = document.getElementById('search_text');
            var rowsLength = storeId.rows.length;
            var colsLength = storeId.rows.item(0).cells.length;
            var key = textId.value;
            var showFlag = new Array(rowsLength).fill(0);
            for(var searchCol=0;searchCol<colsLength-1;searchCol++){
                for(var i=1;i<rowsLength;i++){
                    var searchText = storeId.rows[i].cells[searchCol].innerHTML;      
                    if(searchText.search(key) >= 0){
                        showFlag[i] = 1; 
                    }
                }
            }
            var num = 0;
            for(var i=1;i<rowsLength;i++){
                if (showFlag[i] == 1){
                    num += 1;
                    storeId.rows[i].style.display='';
                }else{
                    storeId.rows[i].style.display='none';
                }
            }
            document.getElementById("data_num").innerHTML = num;
        }
        
        function submitLogin() {
            var user_name = document.forms["login"]["user_name"].value;
            var password = document.forms["login"]["password"].value;
            var captcha = document.forms["login"]["captcha"].value;
            var remember_ck = $('input:radio[name="remember"]:checked').val();
            var remember = 0;
            if (remember_ck) remember = 1;
            if (user_name == null || user_name == "" || password == null || password == "" || captcha == null || captcha == ""){
                layer.msg("必填项为空！", {icon:2,time:1000});
                return;
            }
            var regex = /^\d{10}$/;
            if (!regex.test(user_name)) {
                layer.msg("您输入的账号格式不正确，账号要求为10位数字", {icon:2,time:1000});
                return;
            }
            password = md5(password);
            $.ajax({
                url:"dologin",
                data: {
                    'user_name': user_name,
                    'password': password,
                    'captcha':captcha,
                    'remember':remember,
                    'submit':true
                },
                type:"Post",
                dataType:"json",
                success:function(data){
                    if(data.status==-1){
                        layer.msg(data.msg, {icon:2,time:2000});
                    }else{
                        layer.alert(data.msg, {closeBtn: 0}, function(){window.location.href = "{:url('student/elective/index')}";});
                        
                    }
                     return false;
                },
                error:function(data){
                    layer.msg('访问网站出错');
                    return false;
                }
            });
        }

        function submitCourse() {
            var table = document.getElementsByName('checkbox');
            var rowNum = table.length;
            var courses = new Array();
            for(var i=0;i<rowNum;i++){
                if(table[i].checked)
                    courses.push(table[i].value);
            }
            if (courses.length == 0)
            {
                layer.msg("您未选择课程", {icon:2,time:2000});
                return;
            }
            $.ajax({
                url:"doElective",
                data: {
                    'courses': courses.join('.'),
                    'submit':true
                },
                type:"Post",
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                        layer.msg(data.msg, {icon:1,time:2000});
                    }
                    else {
                        layer.msg(data.msg, {icon:2,time:2000});
                    }

                    return false;
                },
                error:function(data){
                    layer.msg('访问网站出错');
                    return false;
                }
            });

        }
        
        $(document).ready(function countDown() {
            $.get("getElectiveTime", function(data){
                    var start = data.start;
                    var end = data.end;
                    var now = Math.floor((new Date()).valueOf() / 1000);
                    if (now > end) {
                        alert('选课已经结束！');
                        return;
                    }
                    if (now >= start) return;
                    var leftTime = start - now - 1;
                    var ele = document.getElementById("submit");
                    ele.disabled=true;
                    ele.style.cursor="not-allowed";
                    function CountDown() {
                        if (leftTime >= 0) {
                            d = Math.floor(leftTime/60/60/24);
                            h = Math.floor(leftTime/60/60%24);
                            m = Math.floor(leftTime/60%60);
                            s = Math.floor(leftTime%60);
                            document.getElementById("d").innerHTML=d;
                            document.getElementById("h").innerHTML=h;
                            document.getElementById("m").innerHTML=m;
                            document.getElementById("s").innerHTML=s;
                            --leftTime;
                        } else {
                            ele.disabled=false;
                            ele.style.cursor="pointer";
                            clearInterval(timer);
                        }
                    }
                    timer = setInterval(CountDown, 1000);   
                    console.log(start);
                    console.log(end);
                    console.log(now);
                })
        });
    </script>